Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Menghapus ekstensi .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]

    # Mengarahkan /home ke index.php
    RewriteRule ^home$ index.php [NC,L]

    # Contoh lain: Mengarahkan /Admin ke loginAdmin.php
    RewriteRule ^Admin$ login.php [NC,L]

    # Contoh lain: Mengarahkan /resetPassword ke resetPW.php
    RewriteRule ^resetPassword$ resetPW.php [NC,L]
</IfModule>
