Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Menghapus ekstensi .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]



    # Contoh lain: Mengarahkan /Admin ke loginAdmin.php
    RewriteRule ^AdminLogin$ adminLogin.php [NC,L]

    RewriteRule ^AdminLogout$ adminLogout.php [NC,L]
    RewriteRule ^register$ AdminRegister.php [NC,L]
    RewriteRule ^EditBerita$ editBerita.php [NC,L]
</IfModule>
