Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Menghapus ekstensi .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]



    RewriteRule ^FormBerita$ formBerita.php [NC,L]
    RewriteRule ^Galeri$ Galeri.php [NC,L]
    RewriteRule ^Home$ Home.php [NC,L]
    RewriteRule ^KelolaBerita$ kelolaBerita.php [NC,L]
    RewriteRule ^FormBerita$ formBerita.php [NC,L]
        RewriteRule ^Regis$ register.php [NC,L]
</IfModule>
